@charset 'utf-8';


body{
  font-size: 16px;
  color: #333;
  font-family: 'Noto Sans KR', sans-serif;
}


.inner{
  max-width: 1200px;
  margin: 0 auto;
}

#home  > .bgBox {
  background-image: url(../image/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 950px;
  width: 1300px;
  margin: 0 300px;
  position: fixed;
}


/* 태극 슬라이드 */
.taeguk{
  cursor: pointer;
}
.taeguk .pic{
  background-image: url(../image/me3.jpg);
  background-position: 55%;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
}

.bgBox .taeguk p{
  display: none;
}
.bgBox .taeguk.on p {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #333;
  width: 200px;
  padding: 40px 10px;
  display: block;
  text-align: center;
  border-radius: 30px ;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}
.bgBox .taeguk p::before{
  border-top: 15px solid #333;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0px solid transparent;
  content:"";
  position:absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
}


/* 건곤감리 */
.bgBox article{
  cursor: pointer;
}
.bgBox .gungon {
  width: 200px;
  height: 280px;
  cursor: pointer;
}
.bgBox .gungon p {
  display: none;
}

.bgBox .gungon.gamri1{
  position: absolute;
  top: 80px;
  left: 150px;
  transform: rotate(35deg);
}
.bgBox .gungon.gamri2{
  position: absolute;
  top: 80px;
  right: 145px;
  transform: rotate(-35deg);
}
.bgBox .gungon.gamri3{
  position: absolute;
  bottom: 45px;
  left: 130px;
  transform: rotate(-35deg);
}
.bgBox .gungon.gamri4{
  position: absolute;
  bottom: 45px;
  right: 130px;
  transform: rotate(35deg);
}


.bgBox .gungon.gamri1.on p{
  transform: rotate(-35deg);
  display: block;
  width: 200px;
  padding: 50px 10px;
  position: absolute;
  top: 200px;
  right: 150%;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  background-color: #333;
  font-size: 20px;
  font-weight: bold;
}
.bgBox .gungon.gamri2.on p{
  transform: rotate(35deg);
  display: block;
  width: 200px;
  padding: 50px 10px;
  position: absolute;
  top: 200px;
  left: 150%;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  background-color: #333;
  font-size: 20px;
  font-weight: bold;
}

.bgBox .gungon.gamri3.on p{
  transform: rotate(35deg);
  display: block;
  width: 200px;
  padding: 50px 10px;
  position: absolute;
  bottom: 230px;
  right: 150%;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  background-color: #333;
  font-size: 20px;
  font-weight: bold;
}

.bgBox .gungon.gamri4.on p{
  transform: rotate(-35deg);
  display: block;
  width: 200px;
  padding: 50px 10px;
  position: absolute;
  bottom: 230px;
  left: 150%;
  border: 1px solid #000;
  border-radius: 30px;
  text-align: center;
  color: #fff;
  background-color: #333;
  font-size: 20px;
  font-weight: bold;
}



.bgBox .gungon.gamri1 > p::after{
  border-top: 15px solid transparent;
  border-left: 15px solid #333;
  border-right: 0px solid transparent;
  border-bottom: 15px solid transparent;
  content:"";
  position:absolute;
  right:-13px;
}
.bgBox .gungon.gamri2 > p::before{
  border-top: 15px solid transparent;
  border-left: 0px solid transparent;
  border-right: 15px solid #333;
  border-bottom: 15px solid transparent;
  content:"";
  position:absolute;
  left:-13px;
}
.bgBox .gungon.gamri3 > p::after{
  border-top: 15px solid transparent;
  border-left: 15px solid #333;
  border-right: 0px solid transparent;
  border-bottom: 15px solid transparent;
  content:"";
  position:absolute;
  right:-13px;
}
.bgBox .gungon.gamri4 > p::before{
  border-top: 15px solid transparent;
  border-left: 0px solid transparent;
  border-right: 15px solid #333;
  border-bottom: 15px solid transparent;
  content:"";
  position:absolute;
  left:-13px;
}


/* 어바웃 미 */
#aboutMe{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  visibility: hidden;
} 
#aboutMe.on{
  visibility: visible;
}

#aboutMe .inner{
  background: #fff;
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#aboutMe .inner .top {
  padding: 50px 0 50px;
}
#aboutMe .inner i {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
}
#aboutMe .inner span{
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 110%;
}
#aboutMe .inner h3 {
  font-size: 45px;
}
#aboutMe .inner p {
  letter-spacing: -0.5px;
  font-size: 17px;
  color: #222;
}
#aboutMe .inner .left{
  float: left;
  width: 45%;
  padding-left:30px;
  position: relative;
  perspective: 700px;
}
#aboutMe .inner .right{
  float: right;
  width: 55%;
  text-align: left;
  padding-left: 60px;
}

#aboutMe .inner .left .up {
  height: 400px;
}

#aboutMe .inner .left h4 {
  font-size: 25px;
  padding-top: 30px;
}
#aboutMe .inner .left strong {
  display: block;
  padding-bottom: 25px;
  font-size: 20px;
  letter-spacing: 2px;
}

#aboutME .inner .left .card {
  transition: 2s;
  transform-style: preserve-3d;

}
.container:target .card {
  -webkit-transform: rotateY(-180deg);
}


#aboutMe .inner .left img {
  padding: 30px 0 100px;
  max-width: 200px;
}
#aboutMe .inner .left img.line{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  z-index: 999 ;
}
#aboutMe .inner .left .card .front{
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
  transform: rotateY(-180deg);
  backface-visibility: hidden;

}
#aboutMe .inner .left .card .back{
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 300px;
} 


#aboutMe .inner .right .rightTop h4{
  font-size: 30px;
  padding: 0 0 20px 20px;
  color: #7f0000;
}
#aboutMe .inner .right .rightTop h5 {
  font-size: 20px;
  padding: 10px 0;
  font-weight: 700;
}

#aboutMe .inner .right .rightBot h4{
  font-size: 30px;
  padding: 20px 0 20px 0;
  color: #000051;
}
#aboutMe .inner .right .rightBot h5 {
  font-size: 20px;
  padding: 10px 0 0 0;
}
#aboutMe .inner .right .rightBot p {
  padding-bottom: 10px;
}
#aboutMe .inner .right .rightBot {
  padding-top: 30px;
}

/* 스킬 파트 */

#skill{
  display: none;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
} 
#skill.on {
  display: block;
}
#skill .inner{
  background: #fff;
  text-align: center;
  position: relative;
  height: 100vh;
}
#skill .inner .top {
  padding: 50px 0 50px;
}
#skill .inner i {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
}
#skill .inner span{
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 110%;
}
#skill .inner h3 {
  font-size: 45px;
}

/* 점수 그래프 */

#skill .skillContainer{
  height: 100vh;
  width: 100%;
  padding: 10% 0 28% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; 
  position: relative;
  
}
#skill .skillContainer > div {
  height:100%; 
  position:relative;
  display: inline-block;
  width: 10%;
}



.skillContainer > div > p {
  position:absolute; 
  top:105%; 
  left:-10px; 
  font-size:20px; 
  font-weight: bold;
  width:100%; 
  text-align:center; 
} 


#skill .skillContainer img{
  max-width: 100px;
}

#skill .skillContainer >div{
  display: flex;
  align-items: flex-end; 
  height: 100%
}

#skill .skillContainer > div >.score{
  width: 10px;
  background: #798b9b;
  border: 4px solid #222;
  position: absolute;
  bottom: 0;
  height: 0%;
  transition: all 2s;
}


.skillContainer .score .myScore {
  position:absolute; 
  top:-110px;
  right: -20px; 
  width:100%;
  text-align:center; 
  font-size:30px; 
  color:#333; 
}


#skill .skillContainer .score::after{
  content: '';
  width: 100px;
  height: 100px;
  background-image: url(../image/flag.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -90px;
  left: -13px;
} 



/* 포트폴리오 파트 */

#portfolio{
  display: block;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
  visibility: hidden;
} 
#portfolio.on {
  visibility: visible;
}
#portfolio .inner{
  background: #fff;
  text-align: center;
  position: relative;
  height: 100vh;
}
#portfolio .inner .top {
  padding: 50px 0 50px;
}
#portfolio .inner i {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
}
#portfolio .inner span{
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 110%;
}
#portfolio .inner h3 {
  font-size: 45px;
}

/* 포트폴리오 아이콘 */
#portfolio .portCont{
  position: relative;
}
#portfolio .portCont .icon img {
  max-width: 90px;
}
#portfolio .portCont .icon{
  display: flex;
  justify-content: space-evenly;
  padding: 100px 0 50px 0;
}
#portfolio .portCont .icon a{
  display: block;
  position: relative;
}


#portfolio .portCont .icon a p {
  background: #333;
  color: #fff;
  border-radius: 15px;
  padding: 20px 0;
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

#portfolio .portCont .icon p::after{
  border-top: 8px solid #333;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 0px solid transparent;
  content:"";
  position:absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}


#portfolio .portCont .contain img{
  max-width: 200px;
  margin: 10px;
}



/* 콘택트미 파트 */

#contactMe{
  display: none;
  color: #000;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100vh;
} 
#contactMe.on {
  display: block;
}
#contactMe .inner{
  background: #fff;
  text-align: center;
  position: relative;
  height: 100vh;
}
#contactMe .inner .top {
  padding: 50px 0 50px;
}
#contactMe .inner i {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 50px;
}
#contactMe .inner span{
  font-size: 15px;
  position: absolute;
  left: 0;
  top: 110%;
}
#contactMe .inner h3 {
  font-size: 45px;
}

/* 연락 번호 */


#contactMe .contForm fieldset{
  width: 30%;
  border: none;
  margin: 20px auto 30px;
}
#contactMe .contForm input{
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px 0px;
}
#contactMe .contForm label{
  font-weight: bold;
  padding: 10px 0;
  display: block;
}

#contactMe .contForm input#email {
  width: 40%;
  margin: 0 0;
  display: inline-block;
}
#contactMe .contForm input#emailcom {
  width: 150px;
  height: 10px;
}
#contactMe .contForm  select{
  margin: 0 0;
}
#contactMe .contForm input::placeholder{
  text-indent: 5px;
}

#contactMe .contForm #message{
  width: 400px;
  height: 150px;
  margin-bottom: 20px;
  border: 1px solid #333;
}

#contactMe button {
  border: 3px solid #333;
  border-radius: 15px;
  background: none;
  padding: 10px 10px;
  cursor: pointer;
}

#contactMe .contIcon img{
  max-width: 70px;
  margin: 30px 20px;
}