* { margin:0; padding:0; box-sizing:border-box }
a { text-decoration:none; color:inherit }
img { max-width:100%; vertical-align:middle; 
    border:none; }
ul { list-style:none }    
table { border-collapse: collapse;
    width:100%; table-layout: fixed;
}
.cf::after { content:''; display:block; clear:both }
figure, header, section, footer, nav, article, aside, main {
    display:block; 
}
.blind { position:absolute; width:0px; height:0px; 
    overflow:hidden; text-indent:-9999px; line-height:0px; 
    font-size:0px; 
}